html {
    height: auto;
}

body {
    font-family: "Fredoka", sans-serif;
    background: rgb(253,127,29);
    background: radial-gradient(circle, rgba(253,127,29,1) 0%, rgba(252,176,69,1) 100%);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

main {
    width: 40vw;
    height: 40vh;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
}

.items-container {
    padding: 20px;
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    font-size: 50px;
    background-color: rgb(244, 213, 163);
    border: none;
    border-radius: 50%;
    outline: none;
}